
body {
  font-family: "Montserrat";
}

#title {
  background-color: #ffb6c1;
  color: #000000;
}

/* features section */
#features {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  padding: 7% 15%;

}

.feature-box {
  text-align: center;
}

.container-fluid {
  padding: 3% 15%
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.6;
}

h3 {
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* navigation bar */
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.nav-item {
  padding: 0 18px;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #fff;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* applied #ef8172 colors to awesome icons */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

/* applied #ff4c68 hover to awesome icons */
.icon:hover {
  color: #ff4c68;
}

.testimonials-image {
  border-radius: 50%;
  width: 15%;
}

/* Testimonials section, Bootstrap Carousel */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

/* Press section */
#press {
  background-color: #ef8172;
  text-align: center;

}

.press-logo {
    width: 15%;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 4% 2%
}

/* media query */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* footer section */
#cta {
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  text-align: center;
  background-color: #ff4c68;
}

#footer {
  background-color: #fff;
  
}
